{%- style -%}
  #free_from--{{ section.id }} {
      overflow: hidden;
      position: relative;
      background-color:{{ section.settings.background_color }};
      padding: {{ section.settings.desktop_padding }};
      margin: {{ section.settings.desktop_margin }};
          @media (max-width:991px){
              padding: {{ section.settings.mobile_padding }};
              margin: {{ section.settings.mobile_margin }};
          }

    .container_inner {
        width:90%;
        max-width:1350px;
        margin:0 auto;
        padding-left:24px;
        padding-right:24px;
        @media (max-width:1024px){
          width:100%
        }

      .content{
        h1 , h2 , h3 , p , desc {
          color:{{ section.settings.text_color }};
        }
        .icon_list span {
          color:{{ section.settings.sub_text_color }};
        }
      }


      .title {
          font-size: {{ section.settings.heading_font_size }}px;
          line-height:110%;
          font-weight: 700;
          margin:0 auto 24px;
          text-transform: uppercase;
          @media (max-width:991px){
              font-size: {{ section.settings.heading_font_size_mobile }}px;
              @media (max-width:991px){
                max-width:100%;
              }
          }
      }

      .sub_title {
          color:{{ section.settings.sub_text_color }};
          font-size: {{ section.settings.subheading_font_size }}px;
          line-height:110%;
          font-weight: 400;
          margin: 0 auto 8px;
          /* max-width: 760px; */
          @media (max-width:991px){
              font-size: {{ section.settings.subheading_font_size_mobile }}px;
          }
      }
      .desc {
          font-size: 20px;
          line-height:150%;
          font-weight: 400;
          max-width: 856px;
          margin: 0 auto;
          strong {
            font-weight:700 !important;
          }
          @media (max-width:991px){
              font-size: 18px;
          }
          @media (max-width:768px){
            font-size: 16px;
            }
          p , ul , li {
            margin-bottom:0;
              font-size:inherit;
              line-height:inherit;
          }
          ul {
            padding:16px 0;
            @media (max-width:991px){
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            li {
              &:marker {
                color:#9f1897;
              }
            }
          }
      }

      .icon_list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 40px 0 0;
        @media (max-width:767px){
           row-gap: 36px;
          }

        li {
          padding: 0 15px;
          display: grid;
          flex: 0 0 20%;
          grid-gap: 18px;
          grid-template-columns: 1fr;
          text-align: center;
          justify-items: center;
          align-content: start;

          @media (max-width:767px){
            flex: 0 0 33%;
          }
          @media (max-width:576px){
            flex: 0 0 50%;
          }
          .icon_thumb {
            display:flex;
            max-height:120px;
            @media (max-width:576px){
              max-height: 80px;
            }
            img {
                width:100%;

            }
          }
          span {
                font-weight: 700;
                  text-transform: uppercase;
                  font-size: 18px;
          }
        }
      }
    }
  }
{%- endstyle -%}
<section id="free_from--{{ section.id }}" class="free_from">
  <div class="container_inner">
    <div class="content">
      {% if section.settings.subheading %}
        <h3 class="sub_title text-center">{{ section.settings.subheading }}</h3>
      {% endif %}
      {% if section.settings.heading %}
        <h2 class="title text-center">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.paragraph %}
        <div class="desc text-center">{{ section.settings.paragraph }}</div>
      {% endif %}
      <ul class="icon_list">
        {% for block in section.blocks %}
          <li>
            {% if block.settings.icon %}
              <div class="icon_thumb">
                {{
                  block.settings.icon
                  | image_url: width: 1200
                  | image_tag:
                    loading: 'lazy',
                    widths: '300, 600, 900, 1200, 1500',
                    alt: block.settings.icon.alt,
                    class: 'icon'
                }}
              </div>
            {% endif %}
            <span class="age">{{ block.settings.text }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Azo Free From",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Content goes here...</p>"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#071F60"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "sub_text_color",
      "label": "Sub Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "card_timeline",
      "label": "Cards Timeline",
      "default": true
    },
    {
      "type": "header",
      "content": "Font Sizes"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading Font Size (Desktop)",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "label": "Heading Font Size (Mobile)",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "subheading_font_size",
      "label": "Subheading Font Size (Desktop)",
      "min": 10,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "subheading_font_size_mobile",
      "label": "Subheading Font Size (Mobile)",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "Section Desktop Spacing",
      "info": "Enter values in the format: 'top right bottom left' (e.g., '20px 10px 0 2px')."
    },
    {
      "type": "text",
      "id": "desktop_padding",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "desktop_margin",
      "label": "Margin",
      "default": "0 0 0 0"
    },
    {
      "type": "header",
      "content": "Section Mobile Spacing"
    },
    {
      "type": "text",
      "id": "mobile_padding",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "mobile_margin",
      "label": "Margin",
      "default": "0 0 0 0"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Azo Free From",
      "settings": {
        "heading": "Free From",
        "background_color": "#071F60",
        "text_color": "#fff",
        "heading_font_size": 56,
        "heading_font_size_mobile": 32,
        "subheading_font_size": 42,
        "subheading_font_size_mobile": 26,
        "desktop_padding": "160px 0 160px 0",
        "desktop_margin": "0 0 0 0",
        "mobile_padding": "90px 0 90px 0",
        "mobile_margin": "0 0 0 0"
      }
    }
  ]
}
{% endschema %}
